.typer-container {
    width: 100%;
    height: auto;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;


}
#text-wrapper-container{
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}
#cursor{
    position: absolute;
    left: 25%;
    top: 6px;
    border-radius: 2px;
    height: 35px;
    border: var(--cursor);
    transform: translateY(0);
}
#text-wrapper {
    max-width: 50%;
    align-self: center;
    height: 105px;
    overflow: hidden;
}
#refresh-btn-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}


#refresh-btn:hover  path{
    stroke: var(--refreshbtnbgcolor);
}